In [63]:
import pandas as pd
import numpy as np

In [99]:
def crear_columnas(df,nombre,sector,tipo,continente):

    df.insert(1, "NOMBRE", nombre, allow_duplicates=False)
    df.rename(columns={'Price':'PRECIO'},inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.iloc[:,0:3]
    df['PRECIO NORMALIADO MAX'] = df['PRECIO']*1000/df['PRECIO'].max()
    df['PRECIO NORMALIADO MIN'] = df['PRECIO']*1/df['PRECIO'].min()
    df.insert(2, "SECTOR", sector, allow_duplicates=False)
    df.insert(2, "TIPO", tipo, allow_duplicates=False)
    df.insert(2, "CONTINENTE", continente, allow_duplicates=False)
    return df

In [100]:
def columnas_rent(df):
    
    lista_precios_semanal = []
    lista_precios_mensual = []
    lista_precios_anual = []
    lista_precios_bianual = []
    lista_precios_lustro = []
    
    for x,i in enumerate (df['PRECIO']):
        if x + 1 >= len(df['PRECIO']):
            lista_precios_semanal.append(np.nan)
        else: 
            lista_precios_semanal.append(df['PRECIO'][x+1])
    df['PRECIO SEMANAL']=lista_precios_semanal
    df['RENTABILIDAD SEMANAL']=(df['PRECIO']-df['PRECIO SEMANAL'])/df['PRECIO SEMANAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 4 >= len(df['PRECIO']):
            lista_precios_mensual.append(np.nan)
        else: 
            lista_precios_mensual.append(df['PRECIO'][x+4])
    df['PRECIO MENSUAL']=lista_precios_mensual
    df['RENTABILIDAD MENSUAL']=(df['PRECIO']-df['PRECIO MENSUAL'])/df['PRECIO MENSUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 48 >= len(df['PRECIO']):
            lista_precios_anual.append(np.nan)
        else: 
            lista_precios_anual.append(df['PRECIO'][x+48])
    df['PRECIO ANUAL']=lista_precios_anual
    df['RENTABILIDAD ANUAL']=(df['PRECIO']-df['PRECIO ANUAL'])/df['PRECIO ANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 105 >= len(df['PRECIO']):
            lista_precios_bianual.append(np.nan)
        else: 
            lista_precios_bianual.append(df['PRECIO'][x+105])
    df['PRECIO BIANUAL']=lista_precios_bianual
    df['RENTABILIDAD BIANUAL']=(df['PRECIO']-df['PRECIO BIANUAL'])/df['PRECIO BIANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 261 >= len(df['PRECIO']):
            lista_precios_lustro.append(np.nan)
        else: 
            lista_precios_lustro.append(df['PRECIO'][x+261])
    df['PRECIO LUSTRO']=lista_precios_lustro
    df['RENTABILIDAD LUSTRO']=(df['PRECIO']-df['PRECIO LUSTRO'])/df['PRECIO LUSTRO']

    return df

In [101]:
def col_a_anios(df):
    lista_precios_asemestral = []
    lista_precios_aanual = []
    lista_precios_abianual = []
    lista_precios_alustro = []

    
    for x,i in enumerate (df['PRECIO']):
        if x - 24 < 0:
            lista_precios_asemestral.append(np.nan)
        else: 
            lista_precios_asemestral.append(df['PRECIO'][x-1])
    df['PRECIO SEMESTRAL A']=lista_precios_asemestral
    df['A 6 MESES']=(df['PRECIO SEMESTRAL A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 48 < 0:
            lista_precios_aanual.append(np.nan)
        else: 
            lista_precios_aanual.append(df['PRECIO'][x-48])
    df['PRECIO ANIO A']=lista_precios_aanual
    df['A 1 ANIO']=(df['PRECIO ANIO A']-df['PRECIO'])/df['PRECIO']
    
    for x,i in enumerate (df['PRECIO']):
        if x - 105 < 0:
            lista_precios_abianual.append(np.nan)
        else: 
            lista_precios_abianual.append(df['PRECIO'][x-105])
    df['PRECIO 2 ANIO A']=lista_precios_abianual
    df['A 2 ANIOS']=(df['PRECIO 2 ANIO A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 261 < 0:
            lista_precios_alustro.append(np.nan)
        else: 
            lista_precios_alustro.append(df['PRECIO'][x-261])
    df['PRECIO LUSTRO A']=lista_precios_alustro
    df['A 5 ANIOS']=(df['PRECIO LUSTRO A']-df['PRECIO'])/df['PRECIO']
    return df

In [102]:
def eliminar_col(df):
    df.drop(['PRECIO SEMANAL', 'PRECIO MENSUAL', 'PRECIO ANUAL','PRECIO BIANUAL','PRECIO LUSTRO','PRECIO LUSTRO A','PRECIO 2 ANIO A','PRECIO ANIO A','PRECIO SEMESTRAL A'],inplace=True, axis=1)
    return df

In [104]:
FDN_df = pd.read_csv("FDN Historical Data.csv")
FDN_df

             Date   Price    Open    High     Low     Vol. Change %
0    Dec 26, 2021  226.13  229.14  231.45  225.92  817.06K   -1.25%
1    Dec 19, 2021  228.99  218.89  229.73  217.70  838.77K    2.88%
2    Dec 12, 2021  222.57  227.15  228.75  216.24    1.77M   -2.21%
3    Dec 05, 2021  227.59  219.19  233.71  215.97    1.19M    3.83%
4    Nov 28, 2021  219.19  237.45  238.00  215.66    2.28M   -6.74%
..            ...     ...     ...     ...     ...      ...      ...
805  Jul 23, 2006   19.03   19.25   19.28   19.02   91.00K   -1.25%
806  Jul 16, 2006   19.27   19.37   19.47   19.27    1.30K   -0.62%
807  Jul 09, 2006   19.39   20.54   20.54   19.33    1.40K   -4.86%
808  Jul 02, 2006   20.38   21.28   21.30   20.38   90.70K   -4.09%
809  Jun 25, 2006   21.25   20.79   21.25   20.61   16.70K    3.56%

[810 rows x 7 columns]

In [105]:
FDN_df = crear_columnas(FDN_df,"FDN","CONSUMO","ETF","EEUU")

In [106]:
FDN_df

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO MAX,PRECIO NORMALIADO MIN
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,226.13,897.412493,19.940917
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,228.99,908.762600,20.193122
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,222.57,883.284388,19.626984
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,227.59,903.206604,20.069665
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,219.19,869.870625,19.328924
...,...,...,...,...,...,...,...,...
805,2006-07-23,FDN,EEUU,ETF,CONSUMO,19.03,75.521867,1.678131
806,2006-07-16,FDN,EEUU,ETF,CONSUMO,19.27,76.474323,1.699295
807,2006-07-09,FDN,EEUU,ETF,CONSUMO,19.39,76.950552,1.709877
808,2006-07-02,FDN,EEUU,ETF,CONSUMO,20.38,80.879435,1.797178
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,21.25,84.332090,1.873898

In [107]:
FDN_df = columnas_rent(FDN_df)

In [108]:
FDN_df = col_a_anios(FDN_df)

In [109]:
FDN_df = eliminar_col(FDN_df)

In [111]:
FDN_df.to_csv("COMPLETADOS/FDN.csv", sep = ';', index = False)

In [55]:
FDN_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  810 non-null    datetime64[ns]
 1   NOMBRE                810 non-null    object
 2   CONTINENTE            810 non-null    object
 3   TIPO                  810 non-null    object
 4   SECTOR                810 non-null    object
 5   PRECIO                810 non-null    float64
 6   PRECIO NORMALIADO     810 non-null    float64
 7   RENTABILIDAD SEMANAL  809 non-null    float64
 8   RENTABILIDAD MENSUAL  806 non-null    float64
 9   RENTABILIDAD ANUAL    762 non-null    float64
 10  RENTABILIDAD BIANUAL  705 non-null    float64
 11  RENTABILIDAD LUSTRO   549 non-null    float64
 12  A 6 MESES             786 non-null    float64
 13  A 1 ANIO              762 non-null    float64
 14  A 2 ANIOS             705 non-null    float64
 15  A 5 ANIOS             549 non-null    float64
dtypes: datetime64[ns](1), float64(11), object(4)
memory usage: 101.4+ KB

In [54]:
FDN_df

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO,RENTABILIDAD SEMANAL,RENTABILIDAD MENSUAL,RENTABILIDAD ANUAL,RENTABILIDAD BIANUAL,RENTABILIDAD LUSTRO,A 6 MESES,A 1 ANIO,A 2 ANIOS,A 5 ANIOS
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,226.13,897.412493,-0.012490,0.031662,0.046995,0.616600,1.832644,NaN,NaN,NaN,NaN
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,228.99,908.762600,0.028845,-0.025657,0.025619,0.644216,1.832983,NaN,NaN,NaN,NaN
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,222.57,883.284388,-0.022057,-0.089879,0.045175,0.641735,1.744390,NaN,NaN,NaN,NaN
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,227.59,903.206604,0.038323,-0.082298,0.053853,0.682736,1.770420,NaN,NaN,NaN,NaN
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,219.19,869.870625,-0.067356,-0.115777,0.032795,0.591563,1.783719,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,2006-07-23,FDN,EEUU,ETF,CONSUMO,19.03,75.521867,-0.012455,-0.104471,NaN,NaN,NaN,-0.014714,0.363636,0.146085,0.863374
806,2006-07-16,FDN,EEUU,ETF,CONSUMO,19.27,76.474323,-0.006189,NaN,NaN,NaN,NaN,-0.012455,0.344577,0.151531,0.927867
807,2006-07-09,FDN,EEUU,ETF,CONSUMO,19.39,76.950552,-0.048577,NaN,NaN,NaN,NaN,-0.006189,0.349665,0.120681,0.897886
808,2006-07-02,FDN,EEUU,ETF,CONSUMO,20.38,80.879435,-0.040941,NaN,NaN,NaN,NaN,-0.048577,0.284593,0.083415,0.863592
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,21.25,84.332090,NaN,NaN,NaN,NaN,NaN,-0.040941,0.231059,0.040941,0.731765

In [33]:
FDN_df[(FDN_df['RENTABILIDAD SEMANAL']>50)|(FDN_df['RENTABILIDAD MENSUAL']>50)|(FDN_df['RENTABILIDAD ANUAL']>50)|(FDN_df['RENTABILIDAD BIANUAL']>50)|(FDN_df['RENTABILIDAD LUSTRO']>50)|(FDN_df['A 6 MESES']>50)|(FDN_df['A 1 ANIO']>50)|(FDN_df['A 2 ANIOS'])>50|(FDN_df['A 5 ANIOS']>50)]

Empty DataFrame
Columns: [Date, NOMBRE, CONTINENTE, TIPO, SECTOR, PRECIO, PRECIO NORMALIADO, RENTABILIDAD SEMANAL, RENTABILIDAD MENSUAL, RENTABILIDAD ANUAL, RENTABILIDAD BIANUAL, RENTABILIDAD LUSTRO, A 6 MESES, A 1 ANIO, A 2 ANIOS, A 5 ANIOS]
Index: []

In [111]:
GDX_df = pd.read_csv("GDX Historical Data.csv")

In [112]:
GDX_df

             Date  Price   Open   High    Low     Vol. Change %
0    Dec 26, 2021  32.03  31.24  32.08  30.84   68.26M    2.33%
1    Dec 19, 2021  31.30  30.56  31.39  30.15   68.49M    0.55%
2    Dec 12, 2021  31.13  30.53  31.76  28.90  138.91M    2.10%
3    Dec 05, 2021  30.49  30.56  31.58  30.30   71.89M   -0.65%
4    Nov 28, 2021  30.69  32.03  33.03  30.05  124.59M   -4.45%
..            ...    ...    ...    ...    ...      ...      ...
809  Jun 25, 2006  38.70  36.62  39.06  35.00    2.84M    6.67%
810  Jun 18, 2006  36.28  34.17  36.50  33.57    2.36M    4.95%
811  Jun 11, 2006  34.57  35.48  35.63  31.82    4.30M   -1.43%
812  Jun 04, 2006  35.07  40.27  40.27  33.62    2.94M  -10.38%
813  May 28, 2006  39.13  39.50  39.72  37.17    1.83M    1.50%

[814 rows x 7 columns]

In [113]:
GDX_df = crear_columnas(GDX_df)

In [114]:
GDX_df = columnas_rent(GDX_df)

In [115]:
GDX_df

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO,PRECIO SEMANAL,RENTABILIDAD SEMANAL,PRECIO MENSUAL,RENTABILIDAD MENSUAL,PRECIO ANUAL,RENTABILIDAD ANUAL,PRECIO BIANUAL,RENTABILIDAD BIANUAL,PRECIO LUSTRO,RENTABILIDAD LUSTRO
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,32.03,486.778116,31.30,-0.023323,30.69,-0.043662,34.51,0.071863,28.87,-0.109456,20.92,-0.531071
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,31.30,475.683891,31.13,-0.005461,32.12,0.025529,35.23,0.111553,27.13,-0.153704,19.34,-0.618407
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,31.13,473.100304,30.49,-0.020990,33.67,0.075438,34.51,0.097943,27.72,-0.123016,19.08,-0.631551
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,30.49,463.373860,30.69,0.006517,34.77,0.123095,36.52,0.165115,26.97,-0.130515,20.67,-0.475085
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,30.69,466.413374,32.12,0.044521,32.75,0.062901,36.02,0.147973,27.08,-0.133309,21.37,-0.436125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,38.70,588.145897,36.28,-0.066703,39.13,0.010989,0.00,-inf,0.00,-inf,0.00,-inf
810,2006-06-18,FDN,EEUU,ETF,CONSUMO,36.28,551.367781,34.57,-0.049465,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf
811,2006-06-11,FDN,EEUU,ETF,CONSUMO,34.57,525.379939,35.07,0.014257,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf
812,2006-06-04,FDN,EEUU,ETF,CONSUMO,35.07,532.978723,39.13,0.103757,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf
813,2006-05-28,FDN,EEUU,ETF,CONSUMO,39.13,594.680851,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf

In [116]:
GDX_df.drop(['PRECIO SEMANAL', 'PRECIO MENSUAL', 'PRECIO ANUAL','PRECIO BIANUAL','PRECIO LUSTRO'], axis=1)

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO,RENTABILIDAD SEMANAL,RENTABILIDAD MENSUAL,RENTABILIDAD ANUAL,RENTABILIDAD BIANUAL,RENTABILIDAD LUSTRO
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,32.03,486.778116,-0.023323,-0.043662,0.071863,-0.109456,-0.531071
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,31.30,475.683891,-0.005461,0.025529,0.111553,-0.153704,-0.618407
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,31.13,473.100304,-0.020990,0.075438,0.097943,-0.123016,-0.631551
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,30.49,463.373860,0.006517,0.123095,0.165115,-0.130515,-0.475085
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,30.69,466.413374,0.044521,0.062901,0.147973,-0.133309,-0.436125
...,...,...,...,...,...,...,...,...,...,...,...,...
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,38.70,588.145897,-0.066703,0.010989,-inf,-inf,-inf
810,2006-06-18,FDN,EEUU,ETF,CONSUMO,36.28,551.367781,-0.049465,-inf,-inf,-inf,-inf
811,2006-06-11,FDN,EEUU,ETF,CONSUMO,34.57,525.379939,0.014257,-inf,-inf,-inf,-inf
812,2006-06-04,FDN,EEUU,ETF,CONSUMO,35.07,532.978723,0.103757,-inf,-inf,-inf,-inf
813,2006-05-28,FDN,EEUU,ETF,CONSUMO,39.13,594.680851,-inf,-inf,-inf,-inf,-inf

In [117]:
GDX_df.to_csv("COMPLETADOS/GDX.csv", sep = ';', index = False)

In [73]:
def crear_columnas(df):
    df.insert(1, "NOMBRE", "FDN", allow_duplicates=False)
    df.rename(columns={'Price':'PRECIO'},inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.iloc[:,0:3]
    df['PRECIO NORMALIADO'] = df['PRECIO']*1000/df['PRECIO'].max()
    df.insert(2, "SECTOR", "CONSUMO", allow_duplicates=False)
    df.insert(2, "TIPO", "ETF", allow_duplicates=False)
    df.insert(2, "CONTINENTE", "EEUU", allow_duplicates=False)
    return df

In [109]:
def columnas_rent(df):
    
    lista_precios_semanal = []
    lista_precios_mensual = []
    lista_precios_anual = []
    lista_precios_bianual = []
    lista_precios_lustro = []
    
    for x,i in enumerate (df['PRECIO']):
        if x + 1 >= len(df['PRECIO']):
            lista_precios_semanal.append(0)
        else: 
            lista_precios_semanal.append(df['PRECIO'][x+1])
    df['PRECIO SEMANAL']=lista_precios_semanal
    df['RENTABILIDAD SEMANAL']=(df['PRECIO']-df['PRECIO SEMANAL'])/df['PRECIO SEMANAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 4 >= len(df['PRECIO']):
            lista_precios_mensual.append(0)
        else: 
            lista_precios_mensual.append(df['PRECIO'][x+4])
    df['PRECIO MENSUAL']=lista_precios_mensual
    df['RENTABILIDAD MENSUAL']=(df['PRECIO']-df['PRECIO MENSUAL'])/df['PRECIO MENSUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 48 >= len(df['PRECIO']):
            lista_precios_anual.append(0)
        else: 
            lista_precios_anual.append(df['PRECIO'][x+48])
    df['PRECIO ANUAL']=lista_precios_anual
    df['RENTABILIDAD ANUAL']=(df['PRECIO']-df['PRECIO ANUAL'])/df['PRECIO ANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 105 >= len(df['PRECIO']):
            lista_precios_bianual.append(0)
        else: 
            lista_precios_bianual.append(df['PRECIO'][x+105])
    df['PRECIO BIANUAL']=lista_precios_bianual
    df['RENTABILIDAD BIANUAL']=(df['PRECIO']-df['PRECIO BIANUAL'])/df['PRECIO BIANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 261 >= len(df['PRECIO']):
            lista_precios_lustro.append(0)
        else: 
            lista_precios_lustro.append(df['PRECIO'][x+261])
    df['PRECIO LUSTRO']=lista_precios_lustro
    df['RENTABILIDAD LUSTRO']=(df['PRECIO']-df['PRECIO LUSTRO'])/df['PRECIO LUSTRO']

    return df

In [118]:
def col_a_anios(df):
    lista_precios_asemestral = []
    lista_precios_aanual = []
    lista_precios_abianual = []
    lista_precios_alustro = []

    
    for x,i in enumerate (df['PRECIO']):
        if x - 24 < 0:
            lista_precios_asemestral.append(0)
        else: 
            lista_precios_asemestral.append(df['PRECIO'][x-1])
    df['PRECIO SEMESTRAL A']=lista_precios_asemestral
    df['A 6 MESES']=(df['PRECIO SEMESTRAL A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 48 < 0:
            lista_precios_aanual.append(0)
        else: 
            lista_precios_aanual.append(df['PRECIO'][x-48])
    df['PRECIO ANIO A']=lista_precios_aanual
    df['A 1 ANIO']=(df['PRECIO ANIO A']-df['PRECIO'])/df['PRECIO']
    
    for x,i in enumerate (df['PRECIO']):
        if x - 105 < 0:
            lista_precios_abianual.append(0)
        else: 
            lista_precios_abianual.append(df['PRECIO'][x-105])
    df['PRECIO 2 ANIO A']=lista_precios_abianual
    df['A 2 ANIOS']=(df['PRECIO 2 ANIO A']-df['PRECIO'])/df['PRECIO']

    for x,i in enumerate (df['PRECIO']):
        if x - 261 < 0:
            lista_precios_alustro.append(0)
        else: 
            lista_precios_alustro.append(df['PRECIO'][x-261])
    df['PRECIO LUSTRO A']=lista_precios_alustro
    df['A 5 ANIOS']=(df['PRECIO LUSTRO A']-df['PRECIO'])/df['PRECIO']

In [18]:
FDN_df.insert(1, "NOMBRE", "FDN", allow_duplicates=False)

In [19]:

FDN_df.rename(columns={'Price':'PRECIO'},
               inplace=True)

In [20]:
FDN_df['Date'] = pd.to_datetime(FDN_df['Date'])

In [21]:
FDN_df = FDN_df.iloc[:,0:3]

In [22]:
FDN_df

          Date NOMBRE  PRECIO
0   2021-12-26    FDN  226.13
1   2021-12-19    FDN  228.99
2   2021-12-12    FDN  222.57
3   2021-12-05    FDN  227.59
4   2021-11-28    FDN  219.19
..         ...    ...     ...
805 2006-07-23    FDN   19.03
806 2006-07-16    FDN   19.27
807 2006-07-09    FDN   19.39
808 2006-07-02    FDN   20.38
809 2006-06-25    FDN   21.25

[810 rows x 3 columns]

In [25]:
FDN_df['PRECIO NORMALIADO'] = FDN_df['PRECIO']*1000/FDN_df['PRECIO'].max()

In [27]:
FDN_df.insert(2, "SECTOR", "CONSUMO", allow_duplicates=False)

In [29]:
FDN_df.insert(2, "TIPO", "ETF", allow_duplicates=False)

In [31]:
FDN_df.insert(2, "CONTINENTE", "EEUU", allow_duplicates=False)

In [32]:
FDN_df

          Date NOMBRE CONTINENTE TIPO   SECTOR  PRECIO  PRECIO NORMALIADO
0   2021-12-26    FDN       EEUU  ETF  CONSUMO  226.13         897.412493
1   2021-12-19    FDN       EEUU  ETF  CONSUMO  228.99         908.762600
2   2021-12-12    FDN       EEUU  ETF  CONSUMO  222.57         883.284388
3   2021-12-05    FDN       EEUU  ETF  CONSUMO  227.59         903.206604
4   2021-11-28    FDN       EEUU  ETF  CONSUMO  219.19         869.870625
..         ...    ...        ...  ...      ...     ...                ...
805 2006-07-23    FDN       EEUU  ETF  CONSUMO   19.03          75.521867
806 2006-07-16    FDN       EEUU  ETF  CONSUMO   19.27          76.474323
807 2006-07-09    FDN       EEUU  ETF  CONSUMO   19.39          76.950552
808 2006-07-02    FDN       EEUU  ETF  CONSUMO   20.38          80.879435
809 2006-06-25    FDN       EEUU  ETF  CONSUMO   21.25          84.332090

[810 rows x 7 columns]

In [24]:
FDN_df['PRECIO'].max()

251.98

In [77]:
def columnas_rent(df):
    
    lista_precios_semanal = []
    lista_precios_mensual = []
    lista_precios_anual = []
    lista_precios_bianual = []
    lista_precios_lustro = []
    
    for x,i in enumerate (df['PRECIO']):
        if x + 1 >= len(df['PRECIO']):
            lista_precios_semanal.append(0)
        else: 
            lista_precios_semanal.append(df['PRECIO'][x+1])
    df['PRECIO SEMANAL']=lista_precios_semanal
    df['RENTABILIDAD SEMANAL']=(df['PRECIO SEMANAL']-df['PRECIO'])/df['PRECIO SEMANAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 4 >= len(df['PRECIO']):
            lista_precios_semanal.append(0)
        else: 
            lista_precios_mensual.append(df['PRECIO'][x+4])
    df['PRECIO MENSUAL']=lista_precios_mensual
    df['RENTABILIDAD MENSUAL']=(df['PRECIO MENSUAL']-df['PRECIO'])/df['PRECIO MENSUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 48 >= len(df['PRECIO']):
            lista_precios_anual.append(0)
        else: 
            lista_precios_anual.append(df['PRECIO'][x+48])
    df['PRECIO ANUAL']=lista_precios_anual
    df['RENTABILIDAD ANUAL']=(df['PRECIO ANUAL']-df['PRECIO'])/df['PRECIO ANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 105 >= len(df['PRECIO']):
            lista_precios_bianual.append(0)
        else: 
            lista_precios_bianual.append(df['PRECIO'][x+105])
    df['PRECIO BIANUAL']=lista_precios_bianual
    df['RENTABILIDAD BIANUAL']=(df['PRECIO BIANUAL']-df['PRECIO'])/df['PRECIO BIANUAL']

    for x,i in enumerate (df['PRECIO']):
        if x + 261 >= len(df['PRECIO']):
            lista_precios_lustro.append(0)
        else: 
            lista_precios_lustro.append(df['PRECIO'][x+261])
    df['PRECIO LUSTRO']=lista_precios_lustro
    df['RENTABILIDAD LUSTRO']=(df['PRECIO LUSTRO']-df['PRECIO'])/df['PRECIO LUSTRO']

    df.drop(['PRECIO SEMANAL', 'PRECIO MENSUAL', 'PRECIO ANUAL','PRECIO BIANUAL','PRECIO LUSTRO'], axis=1)

    return df

In [ ]:

print(len(lista_precios))
print(lista_precios)

In [69]:
FDN_df['PRECIO LUSTRO']=lista_precios

In [72]:
FDN_df

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO,PRECIO SEMANAL,RENTABILIDAD SEMANAL,PRECIO MENSUAL,RENTABILIDAD MENSUAL,PRECIO ANUAL,RENTABILIDAD ANUAL,PRECIO BIANUAL,RENTABILIDAD BIANUAL,PRECIO LUSTRO,RENTABILIDAD LUSTRO
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,226.13,897.412493,228.99,0.012490,219.19,-0.031662,215.98,-0.046995,139.88,-0.616600,79.83,-1.832644
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,228.99,908.762600,222.57,-0.028845,235.02,0.025657,223.27,-0.025619,139.27,-0.644216,80.83,-1.832983
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,222.57,883.284388,227.59,0.022057,244.55,0.089879,212.95,-0.045175,135.57,-0.641735,81.10,-1.744390
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,227.59,903.206604,219.19,-0.038323,248.00,0.082298,215.96,-0.053853,135.25,-0.682736,82.15,-1.770420
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,219.19,869.870625,235.02,0.067356,247.89,0.115777,212.23,-0.032795,137.72,-0.591563,78.74,-1.783719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,2006-07-23,FDN,EEUU,ETF,CONSUMO,19.03,75.521867,19.27,0.012455,21.25,0.104471,0.00,-inf,0.00,-inf,0.00,-inf
806,2006-07-16,FDN,EEUU,ETF,CONSUMO,19.27,76.474323,19.39,0.006189,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf
807,2006-07-09,FDN,EEUU,ETF,CONSUMO,19.39,76.950552,20.38,0.048577,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf
808,2006-07-02,FDN,EEUU,ETF,CONSUMO,20.38,80.879435,21.25,0.040941,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,21.25,84.332090,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf

In [71]:
FDN_df['RENTABILIDAD LUSTRO']=(FDN_df['PRECIO LUSTRO']-FDN_df['PRECIO'])/FDN_df['PRECIO LUSTRO']

In [59]:
FDN_df

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO,PRECIO SEMANAL,RENTABILIDAD SEMANAL,PRECIO MENSUAL,RENTABILIDAD MENSUAL,PRECIO ANUAL,RENTABILIDAD ANUAL,PRECIO BIANUAL,RENTABILIDAD BIANUAL
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,226.13,897.412493,228.99,0.012490,219.19,-0.031662,215.98,-0.046995,139.88,-0.616600
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,228.99,908.762600,222.57,-0.028845,235.02,0.025657,223.27,-0.025619,139.27,-0.644216
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,222.57,883.284388,227.59,0.022057,244.55,0.089879,212.95,-0.045175,135.57,-0.641735
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,227.59,903.206604,219.19,-0.038323,248.00,0.082298,215.96,-0.053853,135.25,-0.682736
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,219.19,869.870625,235.02,0.067356,247.89,0.115777,212.23,-0.032795,137.72,-0.591563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,2006-07-23,FDN,EEUU,ETF,CONSUMO,19.03,75.521867,19.27,0.012455,21.25,0.104471,0.00,-inf,0.00,-inf
806,2006-07-16,FDN,EEUU,ETF,CONSUMO,19.27,76.474323,19.39,0.006189,0.00,-inf,0.00,-inf,0.00,-inf
807,2006-07-09,FDN,EEUU,ETF,CONSUMO,19.39,76.950552,20.38,0.048577,0.00,-inf,0.00,-inf,0.00,-inf
808,2006-07-02,FDN,EEUU,ETF,CONSUMO,20.38,80.879435,21.25,0.040941,0.00,-inf,0.00,-inf,0.00,-inf
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,21.25,84.332090,0.00,-inf,0.00,-inf,0.00,-inf,0.00,-inf

In [74]:
FDN_df.drop(['PRECIO SEMANAL', 'PRECIO MENSUAL', 'PRECIO ANUAL','PRECIO BIANUAL','PRECIO LUSTRO'], axis=1)

,Date,NOMBRE,CONTINENTE,TIPO,SECTOR,PRECIO,PRECIO NORMALIADO,RENTABILIDAD SEMANAL,RENTABILIDAD MENSUAL,RENTABILIDAD ANUAL,RENTABILIDAD BIANUAL,RENTABILIDAD LUSTRO
0,2021-12-26,FDN,EEUU,ETF,CONSUMO,226.13,897.412493,0.012490,-0.031662,-0.046995,-0.616600,-1.832644
1,2021-12-19,FDN,EEUU,ETF,CONSUMO,228.99,908.762600,-0.028845,0.025657,-0.025619,-0.644216,-1.832983
2,2021-12-12,FDN,EEUU,ETF,CONSUMO,222.57,883.284388,0.022057,0.089879,-0.045175,-0.641735,-1.744390
3,2021-12-05,FDN,EEUU,ETF,CONSUMO,227.59,903.206604,-0.038323,0.082298,-0.053853,-0.682736,-1.770420
4,2021-11-28,FDN,EEUU,ETF,CONSUMO,219.19,869.870625,0.067356,0.115777,-0.032795,-0.591563,-1.783719
...,...,...,...,...,...,...,...,...,...,...,...,...
805,2006-07-23,FDN,EEUU,ETF,CONSUMO,19.03,75.521867,0.012455,0.104471,-inf,-inf,-inf
806,2006-07-16,FDN,EEUU,ETF,CONSUMO,19.27,76.474323,0.006189,-inf,-inf,-inf,-inf
807,2006-07-09,FDN,EEUU,ETF,CONSUMO,19.39,76.950552,0.048577,-inf,-inf,-inf,-inf
808,2006-07-02,FDN,EEUU,ETF,CONSUMO,20.38,80.879435,0.040941,-inf,-inf,-inf,-inf
809,2006-06-25,FDN,EEUU,ETF,CONSUMO,21.25,84.332090,-inf,-inf,-inf,-inf,-inf

In [75]:
FDN_df.to_csv("COMPLETADOS/FDN.csv", sep = ';', index = False)

In [37]:
print(lista_precios)

[228.99, 222.57, 227.59, 219.19, 235.02, 244.55, 248.0, 247.89, 244.47, 243.77, 244.76, 238.17, 238.88, 248.23, 246.79, 247.36, 251.98, 248.11, 238.42, 241.35, 242.02, 241.9, 251.39, 239.48, 248.34, 246.75, 243.63, 237.22, 234.41, 227.81, 225.81, 219.51, 216.32, 219.59, 228.84, 230.51, 232.97, 232.29, 223.55, 215.6, 218.47, 220.17, 213.26, 224.03, 238.36, 243.18, 236.1, 215.98, 223.27, 212.95, 215.96, 212.23, 216.24, 217.79, 210.09, 208.3, 207.46, 200.55, 197.16, 205.62, 187.01, 199.79, 199.03, 196.76, 188.66, 185.42, 179.91, 182.65, 189.71, 196.87, 188.06, 181.84, 184.77, 183.83, 176.14, 177.49, 184.06, 175.04, 167.62, 168.98, 161.91, 165.65, 163.03, 159.63, 154.49, 154.8, 143.26, 143.56, 139.83, 132.39, 117.99, 122.11, 111.49, 121.92, 135.26, 137.4, 151.98, 153.18, 149.51, 144.55, 148.17, 148.37, 144.08, 140.28, 139.88, 139.27, 135.57, 135.25, 137.72, 135.3, 134.29, 133.6, 133.96, 134.65, 132.81, 133.95, 132.76, 133.68, 138.61, 139.55, 139.11, 137.15, 134.26, 135.55, 138.23, 142.04, 151.35, 146.63, 150.23, 147.76, 143.82, 145.67, 141.88, 141.33, 137.95, 139.89, 141.47, 143.21, 148.48, 148.17, 142.34, 143.4, 142.43, 138.9, 137.96, 138.86, 134.2, 138.29, 137.37, 136.38, 134.03, 132.48, 130.3, 130.46, 125.74, 119.8, 115.69, 109.18, 121.76, 121.07, 126.28, 117.44, 123.81, 127.09, 127.56, 122.17, 126.88, 127.98, 135.1, 141.54, 140.13, 142.84, 140.87, 145.69, 143.5, 138.4, 140.15, 137.81, 139.88, 144.04, 145.08, 142.21, 137.65, 141.94, 142.83, 138.09, 136.73, 132.68, 131.55, 132.59, 126.14, 123.96, 125.84, 121.64, 118.29, 120.5, 120.8, 129.87, 131.02, 123.8, 123.3, 121.99, 115.39, 119.73, 122.42, 116.94, 116.43, 114.01, 109.88, 110.21, 110.7, 108.8, 108.44, 111.01, 107.88, 106.19, 107.39, 107.25, 105.55, 105.44, 105.04, 102.36, 101.62, 101.01, 99.62, 100.47, 97.53, 96.96, 97.07, 99.07, 100.12, 100.56, 98.67, 94.92, 94.74, 96.88, 94.08, 94.64, 96.54, 95.18, 92.94, 94.01, 94.05, 92.24, 88.52, 86.86, 87.53, 88.04, 86.98, 88.4, 87.3, 86.8, 87.3, 87.25, 86.32, 85.28, 86.1, 84.5, 84.99, 83.6, 79.83, 80.83, 81.1, 82.15, 78.74, 81.23, 80.18, 78.7, 78.29, 81.51, 82.2, 79.53, 81.11, 81.56, 80.59, 79.38, 78.36, 79.46, 78.9, 78.4, 79.26, 78.65, 77.52, 76.55, 75.33, 74.14, 72.62, 70.65, 72.02, 71.91, 73.24, 72.8, 70.25, 69.74, 69.19, 69.46, 69.36, 69.4, 67.6, 68.76, 66.99, 67.42, 67.2, 67.88, 65.59, 63.2, 59.66, 60.0, 66.07, 66.28, 64.94, 68.22, 74.61, 75.05, 73.9, 73.34, 77.11, 76.55, 76.83, 73.45, 76.68, 74.4, 73.48, 71.54, 70.31, 67.99, 67.47, 69.42, 68.59, 66.6, 69.18, 66.87, 72.19, 71.84, 72.41, 72.26, 72.69, 67.6, 67.48, 68.34, 68.24, 67.17, 67.75, 67.05, 67.87, 67.23, 67.1, 66.54, 68.41, 65.72, 66.25, 64.59, 64.97, 66.14, 64.74, 65.75, 66.13, 66.03, 64.55, 61.99, 60.13, 61.45, 58.43, 60.08, 61.25, 62.44, 61.51, 59.77, 61.41, 62.15, 61.17, 62.2, 60.45, 61.04, 59.07, 56.55, 57.41, 60.96, 60.65, 61.76, 62.69, 62.63, 62.08, 62.05, 60.56, 59.46, 58.7, 59.36, 58.93, 58.77, 60.69, 59.46, 58.53, 58.0, 57.27, 56.83, 56.31, 54.13, 53.37, 55.35, 54.6, 57.0, 54.71, 56.64, 58.82, 62.18, 62.39, 64.79, 64.32, 63.33, 62.33, 61.05, 60.01, 59.92, 60.71, 60.09, 59.3, 59.5, 59.28, 56.83, 56.69, 56.5, 55.65, 56.36, 54.66, 54.56, 55.11, 55.4, 53.1, 54.41, 54.03, 54.0, 52.68, 51.39, 49.58, 50.16, 49.24, 50.72, 50.16, 49.47, 48.86, 48.97, 46.69, 45.4, 44.82, 45.41, 45.69, 45.82, 45.49, 46.52, 45.05, 44.37, 42.85, 41.44, 43.35, 41.88, 43.14, 42.91, 43.11, 44.1, 42.99, 42.68, 43.42, 42.95, 42.79, 43.2, 40.8, 40.92, 40.34, 38.29, 39.09, 38.37, 37.93, 38.1, 37.02, 35.75, 35.73, 36.76, 36.42, 36.33, 37.11, 38.38, 37.93, 38.41, 38.7, 37.97, 36.71, 36.51, 36.56, 35.78, 35.33, 35.61, 35.25, 34.45, 35.27, 35.29, 34.7, 34.48, 34.65, 33.32, 34.67, 33.92, 35.48, 35.78, 36.96, 36.22, 36.16, 36.51, 37.1, 37.1, 36.55, 35.79, 35.42, 35.61, 35.55, 35.24, 35.32, 33.88, 33.72, 32.58, 32.66, 32.3, 32.52, 31.55, 32.96, 32.51, 30.02, 31.99, 33.87, 33.84, 34.36, 32.92, 33.17, 30.49, 29.33, 30.58, 32.77, 30.84, 30.97, 30.61, 28.51, 31.95, 32.36, 35.46, 37.15, 36.8, 37.98, 36.8, 34.57, 33.87, 34.57, 35.63, 36.32, 36.7, 36.81, 36.68, 37.7, 36.94, 36.19, 36.51, 36.58, 35.67, 34.05, 34.92, 35.79, 35.74, 36.84, 36.64, 35.73, 34.45, 34.44, 36.17, 35.2, 34.32, 34.8, 34.8, 35.08, 34.29, 33.93, 33.19, 33.09, 33.66, 32.69, 31.68, 31.09, 29.94, 29.92, 30.3, 28.97, 28.09, 28.05, 26.74, 26.82, 26.18, 26.9, 25.98, 26.44, 25.23, 25.2, 23.71, 25.42, 26.38, 25.93, 25.48, 25.65, 25.1, 26.18, 25.07, 27.31, 28.16, 27.58, 27.4, 26.63, 26.61, 26.46, 26.6, 25.8, 24.21, 24.41, 23.39, 23.11, 23.44, 23.87, 24.72, 25.28, 25.13, 25.34, 24.22, 24.07, 24.31, 23.63, 23.75, 24.1, 23.5, 22.6, 24.03, 23.63, 23.42, 22.23, 22.64, 22.97, 22.0, 20.94, 21.26, 21.28, 20.91, 20.79, 20.43, 20.62, 19.4, 17.84, 18.24, 18.92, 18.75, 19.39, 19.5, 18.8, 17.84, 17.65, 18.51, 18.17, 17.81, 17.45, 16.8, 16.12, 15.15, 14.39, 14.22, 13.08, 13.92, 13.84, 14.4, 14.87, 13.5, 13.33, 13.4, 14.34, 14.51, 13.62, 14.04, 13.83, 12.98, 13.07, 11.34, 12.5, 13.76, 14.61, 13.51, 14.93, 14.55, 17.15, 19.72, 21.27, 20.8, 20.99, 21.86, 22.37, 23.04, 22.57, 21.81, 22.19, 21.73, 22.08, 22.12, 22.74, 23.77, 24.12, 24.67, 25.15, 24.47, 25.35, 24.05, 24.45, 23.83, 23.7, 22.32, 23.26, 22.18, 22.22, 21.74, 21.85, 22.4, 23.23, 23.61, 23.0, 23.74, 22.23, 22.17, 22.8, 23.86, 25.36, 25.42, 24.94, 26.16, 25.97, 25.03, 25.29, 25.59, 27.36, 27.78, 26.9, 28.0, 26.89, 26.05, 25.85, 25.08, 24.43, 24.27, 24.25, 23.5, 24.16, 23.69, 24.78, 26.08, 26.82, 26.4, 25.95, 25.91, 26.17, 26.18, 26.16, 25.61, 25.28, 25.02, 25.14, 24.84, 23.95, 24.04, 23.72, 23.32, 23.57, 22.71, 22.83, 22.75, 24.48, 24.45, 23.98, 23.85, 23.29, 23.11, 23.56, 22.99, 22.58, 22.58, 23.44, 23.02, 22.59, 23.59, 23.17, 22.66, 22.01, 22.21, 21.26, 21.4, 21.55, 20.98, 20.52, 21.24, 20.16, 20.51, 19.64, 20.34, 18.81, 18.75, 19.03, 19.27, 19.39, 20.38, 21.25, '']

In [ ]:
def columna_nueva(x, num_dias):
    lista_nueva =[]
    for index,i in enumerate (x):
        if index + num_dias > len(x)-1:
            continue
        lista_nueva.append(x[index+num_dias])
    return lista_nueva

In [ ]:
lista_precios = []

for x,i in enumerate (FND_borrador['PRECIO']):
    if x + 5 > 3466:
        lista_precios.append(0)
    else: 
        lista_precios.append(FND_borrador['PRECIO'][x+5])
lista_precios
print(len(lista_precios))

In [ ]:
# semanal = 1
# mes = 4
# anio = 48
# bianio = 105
# lustro = 261

In [ ]:
FND_borrador['RENTABILIDAD SEMANAL'] = FND_borrador['PRECIO']- FND_borrador['PRECIO'] / FND_borrador['PRECIO']